@keyframes fade-in {
    from {
        transform: opacity(0);
    }
    to {
        transform: opacity(1);
    }
}

@keyframes twinkle-spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes twinkle-float {
    0%, 100% {
        transform: translateX(0) translateY(0);
    }
    50% {
        transform: translateX(3px) translateY(4px);
    }
}

@keyframes twinkle-float-spin {
    0%, 100% {
        transform: translateX(0) rotate(0);
    }
    25%, 75% {
        transform: rotate(30deg);
    }
    50% {
        transform: translateX(3px);
    }
}


.fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
}

.twinkle-spin {
    animation-name: twinkle-spin;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: top;
}

.twinkle-float {
    animation-name: twinkle-float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.twinkle-float-spin {
    animation-name: twinkle-float-spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transform-origin: center;
}
