/*
    This file contains the CSS I've personally written (with help from tutorials of course :)). I know two separate files might not be ideal, but I wanted to keep the CSS I sourced from elsewhere separate from what I've done myself to avoid confusion around authorship.
*/

a {
    text-decoration: none;
}

legend {
    font-size: x-large;
    font-weight: bolder;
}

fieldset {
    background-color: rgb(239, 218, 199);
    border-radius: 20% 10%;
    position: relative;
    margin: auto;
    width: 75%;
}

th,
td {
    padding: 8px;
}

footer {
    height: 50px;
    width: 100%;
    flex-shrink: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    background-color: rgba(227, 212, 190, 0.6);
    border-radius: 10% 15%;
    font-size: small;
}


.flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.error {
    border: 2px solid rgb(194, 101, 101);
    padding: 5px;
}


/* base.html */
.navbar {
    gap: 2.5em;
    padding: 5px;
    border-style: solid;
    border-width: 0px 3px 6px 3px;
    border-image: url(hr.svg) 0 3 6 3 stretch stretch;
    background-color: rgb(227, 212, 190);
    border-radius: 10% 15%;
}

.navbar li {
    flex-shrink: 1;
    list-style: none;
    padding-right: 20px;
}

.navbar a {
    transition: all 0.8s;
}

.navbar li:hover>a {
    border-style: solid;
    border-width: 0px 3px 6px 3px;
    border-image: url(hr.svg) 0 3 6 3 stretch stretch;
}

.navbar img {
    opacity: 0;
    width: 22px;
    height: 22px;
    border: none;
    padding-left: 3px;
    position: absolute;
    transition: all 0.5s;
}

.navbar li:hover>a>img {
    opacity: 1;
    transform: rotate(180deg);
}

.homepage {
    text-align: center;
}

menu.unauthenticated {
    text-align: center;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}

#login {
    padding-bottom: 7px;
}

#logout {
    font-size: 14px;
    align-items: center;
    margin-bottom: 40px;
    margin-left: auto;
    transition: border 0s, font-size 0.4s;
    padding-right: 10px;
    padding-top: 5px;
}

#logout:hover {
    border: 1px solid transparent;
    font-size: small;
}

#logo {
    font-size: 14px;
    font-weight: bolder;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-image: url(button.svg) 10 10 10 10 stretch stretch;
    background-color: rgb(189, 169, 150);
    border-radius: 60% 60%;
    padding: 0px;
}


/* homepage.html */
.homepage {
    overflow-x: visible;
}

.twinkle-box {
    position: relative;
    max-height: 300px;
    max-width: 500px;
    margin: 50px;
}

.twinkle-box>h1 {
    position: static;
    top: 50%;
    left: 50%;
}

.twinkle-box>div>img {
    border: none;
}

.twinkle-box>p {
    margin-left: 0;
}

div.star-1 {
    height: 25px;
    width: 25px;
    position: absolute;
    top: -20px;
    right: -10px;
}

div.star-2 {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50px;
    left: 10px;
}

div.star-3 {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -30px;
    left: 175px;
}

div.figure {
    position: absolute;
    right: -80px;
    top: 40px;
}


/* List pages */

.create {
    position: absolute;
    top: 0px;
    right: 25px;
}

p.list {
    padding-top: 10px;
}

table.list {
    text-align: center;
    vertical-align: middle;
    padding-left: 20px;
    padding-bottom: 25px;
}

thead.projects th {
    width: 50%;
}

thead.tasks th {
    width: 20%;
}

table.list>tbody>tr:nth-child(even) {
    background-color: rgb(189, 169, 150);
}

a.link-star>img {
    opacity: 0;
    width: 22px;
    height: 22px;
    border: none;
    padding-left: 3px;
    position: absolute;
    transition: all 0.5s;
}

a.link-star:hover>img {
    opacity: 1;
    transform: rotate(180deg);
}


/* Forms */
form {
    display: inline-block;
    text-align: left;
}

label+input,
textarea,
select {
    display: block;
}

button.form-btn {
    margin-left: 50px;
}

button.form-btn:hover {
    background-color: rgb(189, 169, 150);
    border-radius: 40% 30%;
    transition: all 0.3s;
}

.form {
    text-align: center;
}
