{% extends 'base.html' %}

{% load static %}

{% block title %}
    Welcome to Project Pro!
{% endblock title %}

{% block content %}
    <main class="homepage">
        <div class="twinkle-box">
            {% if is_authenticated %}
                <h1>Welcome, {{user.username|title}}!</h1>
            {% else %}
                <h1>Welcome to Project Pro!</h1>
            {% endif %}
            <div class="star-1 fade-in twinkle-spin"><img src="{% static 'img/star.svg' %}"></div>
            <div class="star-2 fade-in twinkle-float"><img src="{% static 'img/star.svg' %}"></div>
            <div class="star-3 fade-in twinkle-float-spin"><img src="{% static 'img/star.svg' %}"></div>
            <div class="figure"><img src="{% static 'img/figure.svg' %}"></div>
            {% if is_authenticated %}
                <p> You have {{projects.count}}
                    {% if projects.count == 1 %}
                        project
                    {% else %}
                        projects
                    {% endif %}
                    and {{tasks.count}}
                    {% if tasks.count == 1 %}
                        task
                    {% else %}
                        tasks
                    {% endif %}
                </p>
            {% else %}
                <p>Sign up or sign in to get started!</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
