{% extends 'base.html' %}

{% block title %}
    Login
{% endblock title %}
{% block content %}
    <main>
        <fieldset>
            <legend>Login</legend>
            <div class="form">
                <form method="post">
                    {% if errored %}
                    <p class="error">Invalid credentials. Please try again.</p>
                    {% endif %}
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="form-btn">Login</button>
                </form>
            </div>
        </fieldset>
    </main>
{% endblock content %}
