{% load static %}

<link rel="stylesheet" href="{% static 'projects/doodle.css' %}">
<link rel="stylesheet" href="{% static 'projects/style.css' %}">
<link rel="stylesheet" href="{% static 'projects/animation.css' %}">
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body class="doodle">
        <header>
            <nav>
                <menu class="flex-container navbar">
                    <li id="logo">
                        Project
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;Pro
                    </li>
                    <li>
                        <a href="{% url 'homepage' %}">Home
                            <img src="{% static 'img/star.svg' %}">
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'show_my_tasks' %}">My Tasks
                                <img src="{% static 'img/star.svg' %}">
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'list_projects' %}">My Projects
                                <img src="{% static 'img/star.svg' %}">
                            </a>
                        </li>
                        <li id="logout">
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <menu class="unauthenticated">
                            <li id="login">
                                <a href="{% url 'login' %}">Login
                                    <img src="{% static 'img/star.svg' %}">
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'signup' %}">Sign Up
                                    <img src="{% static 'img/star.svg' %}">
                                </a>
                            </li>
                        </menu>
                    {% endif %}
                </menu>
            </nav>
        </header>
        <br>
        <br>
        {% block content %}
        {% endblock content %}
    </body>
    <footer>
        Bring your professional projects to life with Project Pro<sup>(TM)</sup> :)
    </footer>
</html>
