{% extends 'base.html' %}

{% load static %}

{% block title %}
    My Tasks
{% endblock title %}
{% block content %}
    <main>
        <fieldset>
            <legend>My Tasks</legend>
            <div class="create"><a class="link-star" href="{% url 'create_task' %}">Create Task<img src="{% static 'img/star.svg' %}"></a></div>
            <p class="list">See all of your tasks in one convenient location! Click on the title of a task to edit it.</p>
            {% if tasks.count == 0 %}
                <br>
                <p>You have no tasks. You should create one!</p>
            {% else %}
                <table class="list">
                    <thead class="tasks">
                        <tr>
                            <th>Name</th>
                            <th>Project</th>
                            <th>Start Date</th>
                            <th>Due Date</th>
                            <th>Completed?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td><a class="link-star" href="{% url 'edit_task' task.id %}">{{ task.name }}<img src="{% static 'img/star.svg' %}"></a></td>
                                {% if task.project %}
                                    <td><a class="link-star" href="{% url 'show_project' task.project.id %}">{{ task.project }}<img src="{% static 'img/star.svg' %}"></a></td>
                                {% else %}
                                    <td>None</td>
                                {% endif %}
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </fieldset>
    </main>
{% endblock content %}
