{% extends 'base.html' %}

{% block title %}
    Create a Project
{% endblock title %}
{% block content %}
    <main>
        <fieldset>
            <legend>Create a New Project</legend>
            <div class="form">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="form-btn">Create</button>
                </form>
            </div>
        </fieldset>
    </main>
{% endblock content %}
