{% extends 'base.html' %}

{% load static %}

{% block title %}
    All Projects
{% endblock title %}
{% block content %}
    <main>
        <fieldset>
            <legend>My Projects</legend>
            <div class="create"><a class="link-star" href="{% url 'create_project' %}">Create Project<img src="{% static 'img/star.svg' %}"></a></div>
            <p class="list">See all of your projects in one convenient location! Click on the title of a project to edit it.</p>
            {% if projects.count == 0 %}
                <br>
                <p>You do not have any projects. You should create one to get started!</p>
            {% else %}
                <table class="list">
                    <thead class="projects">
                        <tr>
                            <th>Name</th>
                            <th>Number of Tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>
                                    <a class="link-star" href="{% url 'show_project' project.id %}">{{ project.name }}<img src="{% static 'img/star.svg' %}"></a>
                                </td>
                                <td>{{ project.tasks.count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </fieldset>
    </main>
{% endblock content %}
