{% extends 'base.html' %}

{% load static %}

{% block title %}
    Project Detail
{% endblock title %}
{% block content %}
    <main>
        <fieldset>
            <legend>{{ project.name }}</legend>
            <div class="create"><a class="link-star" href="{% url 'edit_project' project.id %}">Edit Project<img src="{% static 'img/star.svg' %}"></a></div>
            <p>{{ project.description }}</p>
            <fieldset>
            <legend>Tasks</legend>
                <br>
                <p>
                    <div class="create"><a class="link-star" href="{% url 'create_task' %}">Create Task<img src="{% static 'img/star.svg' %}"></a></div>
                </p>
                {% if project.tasks.count == 0 %}
                    <p>This project has no tasks. Make one above!</p>
                {% else %}
                    <table class="list">
                        <thead class="tasks">
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start Date</th>
                            <th>Due Date</th>
                            <th>Completed?</th>
                        </thead>
                        <tbody>
                            {% for task in project.tasks.all %}
                                <tr>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.assignee|title }}</td>
                                    <td>{{ task.start_date }}</td>
                                    <td>{{ task.due_date }}</td>
                                    <td>{{ task.is_completed|yesno }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </fieldset>
        </fieldset>
    </main>
{% endblock content %}
